.content {
    padding: 0px;
    margin: 0px 0px 0px 0px;
    background-color: white;
}

.base {
    float: left;
}

/* Menu Sidebar */
.menu {
    float: left;
    width: 100%;
    margin: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #FFFFFF;
    font-size: 100%;
    text-align: center;
    border-bottom: 1px solid black;
}

.menu a {
    color: #black;
}

.menu a:link {
    color: black;
}
.menu a:visited {
    color: black;
}
.menu a:active {
    color: black;
}

.menuitem {
    padding: 4px;
    color: black;
    font-size: 95%;
    font-weight: bold;
}

.menuitem:hover {
    background-color: #EAEAEA;
}
.menuspace {
    padding-left: 10px;
}

.menu ul {
    padding-left: 0px;
    padding: 0px;
    margin: 0px;
    text-indent: 0px;
}

.menu li {
    margin-left: 10px;
}

/* Header */
.header {
    padding-top: 1px;
    background-color: white;
    margin-bottom: 20px;
}

.headertitle {
    font-size: 200%;
    text-align: center;
    margin: 15px;
    font-weight: bold;
}

.page {
    width: 90%;
    margin: 0 auto;
    background-color: white;
    height: 100%;
}

tr.title {
    font-size: 100%;
    text-align: left;
    color: black;
}

/* Title and Subtitle */
.title {
  text-align: center;
  font-size: 200%;
  color: black;  
}

h2.subtitle {
  text-align: center;
  font-size: 1.8em;
  color: black;
 }

/* Section Headers */
.section h1 {
    font-size: 1.15em;
    color: black;
    border-top: solid 1.5px black;
}

.section h2 {
    font-size: 1.0em;
    color: black;
    border-bottom: dotted 0.5px black;
}

/* /\* Literal Code Block and Commands *\/ */
/* .literal { */
/*     border: dotted 0.5px black; */
/*     padding: 2px; */
/*     background-color: #F6D5D1; */
/*     overflow: auto; */
/* } */

.literal-block {
    font-family:  Menlo, Consolas, "Courier New", Monoco, monospace;
    border: dotted 0.5px black;
    padding: 5px;
    margin: 5px;
    overflow: auto;
}


code, pre {
	padding: 0 3px 2px;
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	font-size: 12px;
	backgroud-color: #F5F5F5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

code {
	padding: 2px 4px;
	color: #d14;
	white-space: nowrap;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
}

pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 20px;
	//word-break: break-all;
	//word-wrap: break-word;
	white-space: pre;
	//white-space: pre-wrap;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
  overflow-x: scroll;

}

cite {
	  //font-style: normal;
    font-family: monospace;
    white-space: pre;
    border: 0.0px solid #cccccc;
    border-bottom: 0.5px solid #cccccc;
    padding: 2px;
    background: #f3f3f3
}

blockquote {
	  padding: 0 0 0 15px;
	  margin: 0 0 20px 0;
	//border-left: 5px solid #eeeeee;
}

blockquote p {
	margin-bottom: 1em;
	//font-size: 17.5px;
	//font-weight: 300;
	//line-height: 1.25;
}

blockquote tt {
    background-color: #f7f7f9;
    display: block;
    padding: 5px;
    margin: 3px;
    font-size: 0.85em;
	  //line-height: 20px;
	  //word-break: break-all;
	  //word-wrap: break-word;
	  white-space: pre;
	  //white-space: pre-wrap;
	  background-color: #f5f5f5;
	  border: 0px solid #ccc;
	  border: 0px solid rgba(0, 0, 0, 0.15);
	  //-webkit-border-radius: 4px;
	  //-moz-border-radius: 4px;
	  //border-radius: 4px;
    overflow-x: scroll;

}


ul, ol {
    padding: 0;
    margin: 0 0 10px 25px;
}
li {
    line-height: 20px;
}
p {
    margin: 0 0 10px;
}
